@import "../../utils/colors";

.taxon-list-container {
  max-width: 50rem;
}

.taxon-list-navigation {
  float: right;
  position: sticky;
  top: 2rem;
  margin-top: 2rem;
  width: 1.5rem;
  z-index: 20000;
  text-align: center;
  background: rgba($gray-0, .75);
}

.taxon-list-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.taxon-list-navigation-item {
  margin: .25rem 0;
}

@media(min-height: 65rem) {
  .taxon-list-navigation-item::after {
    content: '·';
    display: block;
  }

  .taxon-list-navigation-item:last-child::after {
    content: ' ';
  }
}

.taxon-list-navigation-item button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: .75rem;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  color: $ocean-blue;
}

.taxon-list-group-title {
  position: sticky;
  top: 0;
  background: rgba($gray-1, .85);
  border-bottom: 1px solid $gray-3;
  z-index: 10000;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 .125rem;
  padding: .34375rem .5rem;
}

.taxon-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.taxon-list-item {
  display: flex;
  border-bottom: .0625rem solid $gray-3;
}

.taxon-list-item-link {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.taxon-list-item-thumbnail .picture {
  margin: 0;
}

.taxon-list-item-title {
  margin: auto 1rem;
  font-size: 1rem;
  font-weight: normal;
}


.taxon-list-virtual {
  position: relative;
  height: var(--virtual-list-height);

  .taxon-list-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--virtual-item-height);
    transform: translateY(var(--virtual-item-top));
    box-sizing: border-box;
    overflow: hidden;
  }
}
