@import "colors";
@import "variables";

.taxonomy-tree {
  margin: 0;
  padding: 0;
  list-style: none;
}

.taxonomy-tree-node {
  position: relative;
  margin: 0;
  padding: 0;

  .taxonomy-tree-node-rank {
    display: none;
  }

  .taxonomy-tree-node-controls {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 3.5rem;
    background-color: $gray-0;
    border-bottom: .0625rem solid $gray-1;
  }

  .taxonomy-tree-node-link {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: calc(
      (var(--tree-node-level) - 1) * 1.15rem + .5rem
    );
    padding-right: .5rem;
    width: calc(100% - 3rem);
    height: 100%;
    text-decoration: none;
    color: inherit;
    background-color: $white;
    border-right: .0625rem solid $gray-1;

    .scientific-name {
      padding: 0 .125rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: rgba(0, 0, 0, .25);
    }
  }

  &.selected > :not(.taxonomy-tree) > .taxonomy-tree-node-link {
    background-color: $ocean-blue;
    color: $white;
  }

  .taxonomy-tree-node-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    cursor: pointer;

    [class^="icon"] {
      background-color: $white;
      border: .0625rem solid $gray-4;
      border-radius: 50%;
      color: $gray-4;
    }
  }

}


@media(min-width: map-get($breakpoints, "l")) {
  .taxonomy-tree {
    font-size: .875rem;
    margin-left: 7rem;
    padding-left: .75rem;
    border-left: .0625rem dotted $gray-4;

    .taxonomy-tree {
      margin-left: .75rem;
    }
  }

  .taxonomy-tree-node {
    .taxonomy-tree-node-rank {
      display: block;
      position: absolute;
      top: 10px;
      left: calc(
        (var(--tree-node-level) * -1.5625rem) + -5.5rem
      );
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      width: 5rem;
      text-align: right;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .taxonomy-tree-node-controls {
      flex-direction: row-reverse;
      height: 2rem;
      background: none;
      border-bottom: none;
    }
    .taxonomy-tree-node-link {
      margin-left: calc(.75rem / 2);
      padding-left: .25rem;
      padding-right: .25rem;
      width: auto;
      height: auto;
      background: none;
      border-right: none;
    }
    .taxonomy-tree-node-toggle {
      position: relative;
      margin-left: -1.5rem;
      width: 1.5rem;
      height: 1.5rem;

      [class^="icon"] {
        width: 18px;
        height: 18px;
      }

      .spinner {
        background-color: $white;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 1rem;
      left: -.75rem;
      width: 1rem;
      height: 0;
      border-bottom: .0625rem dotted $gray-4;
    }
  }
}
