@use "colors" as *;
@use "variables" as v;
@use "sass:map";

$navigation-height: 56px;
$logo-width: 22px;
$logo-height: 32px;
$logo-box: $navigation-height;
$navigation-toggle-bar-width: 16px;
$navigation-toggle-bar-height: 2px;
$navigation-toggle-box: $navigation-height;

body {
  padding-top: $navigation-height !important;
}

.navigation-container {
  * { box-sizing: border-box; }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $navigation-height;
  color: $white;
  background: $black;
  z-index: 100000;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 3.5rem;
  font-size: .875rem;
  margin: 0 auto;
  max-width: map.get(v.$breakpoints, "xl");

  #navigation-home {
    display: block;
    margin: 0 auto;
    padding: calc(($logo-box - $logo-height) / 2) 0;
    width: $logo-box;
    height: $logo-box;

    .logo {
      display: block;
      margin: 0 auto;
      width: $logo-width;
      height: $logo-height;
    }
  }

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease-in;
    &.active, &:hover {
      color: $orange-cup-coral;
    }
    &:hover .logo {
      color: inherit;
    }
  }

  > ul {
    position: fixed;
    top: $navigation-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $black;

    > li {
      margin: 0 32px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: 16px 0;
      text-align: center;
      border-bottom: 1px solid $gray-5;
    }
  }

  .subnavigation {
    ul {
      background: $gray-6;

      a {
        border-bottom: none;
        text-transform: none;
      }
    }
  }

}

.navigation {
  .navigation-toggle {
    position: relative;
    float: left;
    width: $navigation-toggle-box;
    height: $navigation-toggle-box;
    padding: calc(($navigation-toggle-box - $navigation-toggle-bar-width) / 2) 0;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: $gray-5;
      border-radius: 4px;
    }
  }
  > .navigation-toggle > .navigation-toggle-open .navigation-toggle-bar {
    display: block;
    margin: 0 auto 4px;
    width: $navigation-toggle-bar-width;
    height: $navigation-toggle-bar-height;
    background: $white;
    &:last-child {
      margin: 0 auto;
    }
  }
  > .navigation-toggle > .navigation-toggle-close .navigation-toggle-bar {
    position: absolute;
    top: 26px;
    left: 20px;
    width: $navigation-toggle-bar-width;
    height: $navigation-toggle-bar-height;
    background: $white;
    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.subnavigation {
  position: relative;
  > .navigation-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $navigation-toggle-box;
    padding: 15px 0;
    .navigation-toggle-open,
    .navigation-toggle-close {
      border: none;
    }
  }
}

.navigation, .subnavigation {
  > ul,
  > .subnavigation-container,
  > .navigation-state,
  > .navigation-toggle > .navigation-toggle-close,
  > .navigation-state:checked ~ .navigation-toggle > .navigation-toggle-open {
    display: none;
  }

  > .navigation-state:checked ~ ul,
  > .navigation-state:checked ~ .subnavigation-container,
  > .navigation-state:checked ~ .navigation-toggle > .navigation-toggle-close {
    display: block;
  }
}

.navigation {
  #navigation-admin {
    position: absolute;
    top: 0;
    right: 0;
    width: $navigation-toggle-box;
    height: $navigation-toggle-box;
    padding: 16px 0;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .nav-search-container{
    position: absolute;
    right: $navigation-toggle-box;
  }

  #search-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: -2.5rem;
  }

  #nav-search-icon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    color: #fff;
    pointer-events: none;
  }
  #search-bar {
    width: 9rem;
    height: 2.5rem;
    padding-left: 2.5rem;
    font: inherit;
    font-size: 1rem;
    color: $white;
    background: #666;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
  }
}

@media(min-width: map.get(v.$breakpoints, "xl")) {
  .navigation {
    #navigation-home {
      float: left;
      margin: 0 1rem 0 0;
    }
    > .navigation-toggle {
      display: none;
    }
    > ul {
      display: block;
      position: static;
      > li {
        display: inline-block;
        margin: 0;
      }
      a {
        display: block;
        padding: 18px 0.75rem;
        height: $navigation-height;
      }
    }
    .subnavigation {
      .navigation-toggle,
      .subnavigation-container {
        display: none !important;
      }
      &:hover .subnavigation-container {
        display: block !important;
      }
      .subnavigation-container {
        position: fixed;
        top: $navigation-height;
        width: 400px;
      }
      ul {
        background: rgba($gray-6, .95);
        a {
          height: auto;
          text-align: left;
        }
      }
    }
  }
}
