@import "colors";


.footer {
  padding: 2rem;
  font-size: .875rem;
  text-align: center;

  nav ul {
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }

    li a {
      padding: 0 .5rem;
      color: $gray-5;
    }
  }
}
