@use "colors" as *;
@use "variables" as v;
@use "mixins" as *;
@use "sass:map";


body.has-overlay {
  overflow: hidden;
}

.search-view-container {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, .90);
  backdrop-filter: blur(1rem);
  color: $white;

  * { box-sizing: border-box; }
}

.search-view {
  .search-view-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding: 0 1rem;
    background: $black;

    #search-controls {
      display: flex;
      width: 100%;
      height: 2.5rem;
      max-width: map.get(v.$breakpoints, "xl");

      #search-label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: -2.5rem;

        .label-text {
          @include visually-hidden;
        }
      }

      #search-input {
        appearance: none;
        width: 100%;
        height: 100%;
        padding-left: 2.5rem;
        font-family: inherit;
        font-size: 1rem;
        color: $white;
        background: #666;
        border: none;
        border-radius: .25rem;

        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $gray-1;
        }
      }

      #search-clear {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -2.5rem;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2rem;
        border: none;
        background: transparent;
        color: $white;
        cursor: pointer;
      }
    }

    .search-view-close {
      margin-left: .5rem;
      font-family: inherit;
      font-size: 1rem;
      color: $white;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .search-view-content {
    position: fixed;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;

    #search-results {
      margin: 0 auto;
      padding: 0;
      height: 100%;
      overflow-y: auto;
      list-style: none;
      background: $black;

      @media(min-width: map.get(v.$breakpoints, "l")) {
        margin-top: 3rem;
        max-width: 800px;
        height: auto;
        max-height: 70vh;
      }

      [class*="-link"] {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: $white;
        border-bottom: .0625rem solid $gray-5;
      }

      .search-link {
        position: relative;
        display: block;
        width: 100%;
        align-items: center;

        .synonym-name {
          color: $orange-cup-coral;
        }

        > * {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 1rem;
        }

        > .author {
          font-size: .625rem;
          color: $gray-4;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(50% - .5rem);
          right: 1rem;
          display: block;
          margin-right: .5rem;
          width: .625rem;
          height: .625rem;
          transform: rotate(45deg);
          border-top: .125rem solid $gray-3;
          border-right: .125rem solid $gray-3;
        }
      }

      [aria-selected="true"] {
        .search-link {
          background: $gray-5;
        }
      }
    }

  }

}
