@import "colors";
@import "variables";


.taxon-view {

  .taxonomy-toggle {
    position: relative;
    z-index: 120000;
    display: block;
    margin: 0;
    padding: 0;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    border: none;

    .taxonomy-toggle-bar {
      display: block;
      width: 1rem;
      height: .125rem;
    }

    &[aria-expanded=false] {
      position: fixed;
      left: 1rem;
      bottom: 1rem;
      padding: .25rem;
      background: $black;
      border-radius: 50%;

      .taxonomy-toggle-bar {
        margin: .125rem auto;
        background: $white;

        &:nth-child(1) {
          width: 1rem;
        }
        &:nth-child(2) {
          width: .75rem;
        }
        &:nth-child(3) {
          width: .5rem;
        }

        &::before {
          content: '';
          display: block;
          margin: 0 0 0 -.25rem;
          width: .125rem;
          height: .125rem;
          background: inherit;
        }
      }

      ~ #taxonomy-navigation {
        display: none;
      }
    }

    &[aria-expanded=true] {
      position: fixed;
      top: 0;
      left: 0;
      background: $white;
      border-bottom: .0625rem solid #ccc;

      .taxonomy-toggle-bar {
        position: absolute;
        top: 1.5rem;
        left: 1.125rem;
        background: $black;

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }

      ~ #taxonomy-navigation {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000;
        overflow-y: auto;
        padding-top: 3.5rem;
        background: $white;

        .taxon-view-taxonomy-heading {
          position: fixed;
          top: 0;
          left: 3.5rem;
          right: 0;
          z-index: 120000;
          margin: 0 0;
          padding: calc(1.25rem - .0625rem) 1rem 1.25rem;
          font-size: 1rem;
          line-height: 1;
          background: $white;
          border-bottom: .0625rem solid #ccc;
        }
      }
    }

    @media(min-width: map-get($breakpoints, "xl")) {
      display: none;

      &[aria-expanded] ~ #taxonomy-navigation {
        display: block;
        position: absolute;
        z-index: unset;
        overflow-y: visible;
        padding-top: 0;

        .taxon-view-taxonomy-heading {
          position: static;
          z-index: unset;
          margin: .5rem 0 1rem;
          padding: 0;
          border-bottom: none;
          background: none;
        }
      }
    }
  }

  @media(min-width: map-get($breakpoints, "xl")) {
    position: relative;
    padding-left: 22.25rem;

    .taxon-view-taxonomy {
      position: absolute;
      top: 0;
      left: 0;
      width: 21.25rem;

      .taxon-view-taxonomy-heading {
        font-size: 1rem;
        text-transform: uppercase;
      }

      .taxonomy-tree-container {
        margin-left: -7rem;
      }
    }
  }

}

body.has-expanded-taxonomy {
  overflow: hidden;

  @media(min-width: map-get($breakpoints, "xl")) {
    overflow: visible;
  }
}
