@use "colors" as *;
@use "variables" as *;

.media-details-view {

  .media-details {
    position: relative;

    .media-details-artist {
      margin: .5rem 0;
      font-size: .875rem;
    }

    .media-details-caption {
      margin: 1rem 0;
      font-size: 1rem;
    }

    .media-related-taxon {
      text-align: center;
      padding-bottom: 1.5rem;
      border-bottom: .0625rem solid $gray-1;

      a {
        position: relative;
        display: inline-block;
        padding-right: 2rem;
        font-size: 1rem;
        text-decoration: none;
        color: $gray-5;
        &::after {
          content: '';
          position: absolute;
          top: calc(50% - .25rem);
          right: 0;
          display: block;
          margin-right: .5rem;
          width: .625rem;
          height: .625rem;
          transform: rotate(45deg);
          border-top: .125rem solid $gray-4;
          border-right: .125rem solid $gray-4;
        }
      }
    }

    .media-details-additional-info {
      margin: 2rem 0;
      font-size: .875rem;
    }

    &.expanded {
      .media-details-caption {
        min-height: 3rem;
      }
    }

    &.collapsed {
      .media-details-caption {
        height: 3rem;
        overflow: hidden;

        &:after {
          content: '';
          display: block;
          position: relative;
          top: -4rem;
          height: 4rem;
          width: 100%;
          background: linear-gradient(
            transparent,
            rgba(255, 255, 255, .95)
          );
          pointer-events: none;
        }
      }
    }

    .media-details-toggle {
      display: block;
      margin: 1rem 0;
      padding: 0;
      width: 100%;
      font-family: inherit;
      font-size: .75rem;
      text-transform: uppercase;
      text-align: center;
      border: none;
      background: none;
      color: #999;
      cursor: pointer;

      > span {
        display: block;
      }
    }

  }
}
