$black: #3c3c3c;
$white: #ffffff;

$gray-0: #fafafa;
$gray-1: #f0f0f0;
$gray-2: #dddddd;
$gray-3: #cccccc;
$gray-4: #aaaaaa;
$gray-5: #333333;
$gray-6: #222222;

$ocean-blue: #4080ff;
$orange-cup-coral: #ff8040;
$precious-coral: #ff4080;
