@import "colors";
@import "variables";
@import "mixins";


.latest-illustrations {
  @include container();
  margin-bottom: 2rem;

  h2 {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: $gray-3;
  }

  .media-grid.media-grid-single-row {
    justify-content: space-around;
  }

}
