.logo {
  display: inline-block;
  fill: currentcolor;
}

.logo-dark {
  .logo-left {
    color: rgb(80, 80, 80);
  }
  .logo-right {
    color: rgb(124, 124, 124);
  }
}

.logo-light {
  .logo-left {
    color: rgb(186, 186, 186);
  }
  .logo-right {
    color: rgb(230, 230, 230);
  }
}
