@use "colors" as *;
@use "variables" as v;
@use "mixins" as *;
@use "sass:map";

.news {
  @include container();

  .article-header a {
    color: inherit;
    text-decoration: none;
  }
}

.news-archive {
  > h1 {
    margin-bottom: 4rem;
    text-align: center;
  }
  .news {
    margin: 0 auto;
    max-width: map.get(v.$breakpoints, "m");
  }
}
