@use "colors" as *;
@use "variables" as v;
@use "mixins" as *;
@use "sass:map";

.introduction {
  margin: 0 auto 2rem;
  text-align: center;
  max-width: map.get(v.$breakpoints, "m");

  h2 {
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.2rem;
  }
}
