.picture-container {
  max-width: 100%;
}

.picture {
  position: relative;
  display: flex;
  margin: 0 0 1rem;
  padding: 75% 0 0;
  height: 0 !important;
  background-size: cover;
  background-position: center;
}

.picture-source {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.picture-source > * {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.picture-title {
  font-size: 1rem;
  font-weight: bold;
}

.picture-source > img {
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-name: image-appearence;
  animation-delay: 0s;
}

@keyframes image-appearence {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
