@use "colors" as *;
@use "variables" as v;
@use "mixins" as *;
@use "sass:map";

.latest-news {
  text-align: center;

  > h2 {
    margin-bottom: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: $gray-4;

    svg {
      margin: 2rem auto;
      display: block;
    }
  }

  .news {
    margin: 0 auto;
    max-width: map.get(v.$breakpoints, "s");

    .article-header h2 {
      font-size: 1.125rem;
      font-weight: bold;
      color: $gray-5;
    }
  }
}
