@import "colors";


$switch-track-height: 1.625rem;
$switch-track-width: 3.125rem;
$switch-label-color: $gray-5;
$switch-track-color-off: $gray-4;
$switch-track-color-on-dark: $ocean-blue;
$switch-track-color-on-light: $orange-cup-coral;


.switch {
  display: inline-block;
  position: relative;

  .switch-label {
    display: block;
    min-height: $switch-track-height;
    padding-left: $switch-track-width;
    line-height: $switch-track-height;
    color: $switch-label-color;
  }

  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: $switch-track-width;
    height: $switch-track-height;
    appearance: none;
    background: none;
    border: none;
  }

  .switch-track {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: $switch-track-width;
    height: $switch-track-height;
    background: $switch-track-color-off;
    border-radius: $switch-track-height;
    transition: .4s;

    &::before {
      content: ' ';
      position: absolute;
      left: .0625rem;
      top: .0625rem;
      bottom: .0625rem;
      width: calc($switch-track-height - .125rem);
      height: calc($switch-track-height - .125rem);
      background: $white;
      border-radius: 50%;
    }
  }

  .switch-input:checked ~ .switch-track {
      background: $switch-track-color-on-dark;
      &::before {
        left: auto;
        right: .0625rem;
      }
    }

  .switch-input[disabled] ~ .switch-track {
    background: adjust-color($switch-track-color-off, $lightness: 30%);
  }

  .switch-input:checked[disabled] ~ .switch-track {
    background: adjust-color($switch-track-color-on-dark, $lightness: 30%);
  }

  .switch-input[disabled] ~ .switch-label-text {
    color: adjust-color($switch-label-color, $lightness: 40%);
  }

  .switch-label-text {
    display: inline-block;
    padding-left: .625em;
  }

  .switch-track,
  .switch-label-text {
    cursor: pointer;
  }

  .switch-input[disabled] ~ .switch-track,
  .switch-input[disabled] ~ .switch-label-text {
    cursor: not-allowed;
  }

  &.switch-light  {
    .switch-input:checked ~ .switch-track {
        background: $switch-track-color-on-light;
      }
    .switch-input:checked[disabled] ~ .switch-track {
      background: adjust-color($switch-track-color-on-light, $lightness: 30%);
    }
  }
}
