@use "mixins" as *;


.galleries {
  @include container();

  h1 {
    margin-bottom: 4rem;
    text-align: center;
  }

  .gallery-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        calc(.0625rem * var(--cover-size)),
        auto
      )
    );
    gap: 1rem;
    justify-content: space-around;

    a {
      color: inherit;
      text-decoration: none;
    }

    .placeholder {
      height: calc(.0625rem * var(--cover-size));
    }

  }
}
