@import "../../utils/colors";
@import "../../utils/variables";

body {
  padding-top: 56px;
}

.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px;
  height: 32px;
  color: $white;
  background: $black;
}

.navigation {
  font-size: 0.875rem;
  margin: 0 auto;
  max-width: map-get($breakpoints, "xl");

  #navigation-home {
    display: block;
    margin: 0 auto;
    width: 22px;
    height: 32px;
  }

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.5s ease-in;
    &.active, &:hover {
      color: $orange;
    }
  }

  > ul {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $black;

    > li {
      margin: 0 32px;
    }

  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: block;
      padding: 16px 0;
      text-align: center;
      border-bottom: 1px solid $gray-5;
    }
  }

  .subnavigation {
    ul {
      background: $gray-6;

      a {
        border-bottom: none;
        text-transform: none;
      }
    }
  }
}

.navigation {
  > .navigation-toggle > .navigation-toggle-close,
  > .navigation-toggle > .navigation-toggle-open {
    position: relative;
    float: left;
    padding: 8px;
    width: 16px;
    height: 16px;

    &:hover {
      background: $gray-5;
      border-radius: 4px;
    }
  }
  > .navigation-toggle > .navigation-toggle-open .navigation-toggle-bar {
    display: block;
    margin: 0 0 4px;
    width: 16px;
    height: 2px;
    background: $white;
    &:last-child {
      margin: 0;
    }
  }
  > .navigation-toggle > .navigation-toggle-close .navigation-toggle-bar {
    position: absolute;
    top: 14px;
    width: 16px;
    height: 2px;
    background: $white;
    &:first-child {
      transform: rotate(45deg);
    }
    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.subnavigation {
  position: relative;
  > .navigation-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    .navigation-toggle-open,
    .navigation-toggle-close {
      border: none;
    }
  }
}

.navigation, .subnavigation {
  > ul,
  > .subnavigation-container,
  > .navigation-toggle > .navigation-toggle-close,
  &.navigation-open > .navigation-toggle > .navigation-toggle-open {
    display: none;
  }

  &.navigation-open > ul,
  &.navigation-open > .subnavigation-container,
  &.navigation-open > .navigation-toggle > .navigation-toggle-close {
    display: block;
  }
}

@media(min-width: map-get($breakpoints, "xl")) {
  body {
    padding-top: 140px;
  }

  .navigation {
    #navigation-home {
      float: left;
      margin: 0 1rem 0 0;
    }
    > ul {
      display: block;
      position: static;
      > li {
        display: inline-block;
        margin: 0;
      }
      a {
        padding: 0.4rem 1rem;
        background: none;
        border-bottom: none;
        text-align: left;
      }
    }
    > .navigation-toggle {
      display: none;
    }
    &.navigation-closed > ul {
      display: block;
    }
  }

  .subnavigation {
    > .navigation-toggle {
      display: none;
    }
    a.active ~ .subnavigation-container {
      display: block;
      position: fixed;
      top: 56px;
      left: 0;
      right: 0;
      background: $gray-1;
    }
    .subnavigation-container ul {
      margin: 0 auto;
      width: map-get($breakpoints, "xl");
      background: none;
      > li {
        display: inline-block;
        margin-right: 2em;
      }
      a {
        padding: 0.85rem 0;
        color: $gray-6;
        &.active, &:hover {
          color: $orange;
        }
      }
    }
  }
}
