@use "colors" as *;
@use "variables" as v;
@use "sass:map";

.image-labeling-page {
  .filters-toggle {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    border: none;

    .filters-toggle-bar {
      display: block;
      width: 1rem;
      height: 0.125rem;
    }

    &[aria-expanded="false"] {
      position: fixed;
      left: 1rem;
      bottom: 1rem;
      padding: 0.25rem;
      z-index: 90000;
      background: $black;
      border-radius: 50%;

      .filters-toggle-bar {
        margin: 0.125rem auto;
        background: $white;

        &:nth-child(1) {
          width: 1rem;
        }
        &:nth-child(2) {
          width: 0.75rem;
        }
        &:nth-child(3) {
          width: 0.5rem;
        }

        &::before {
          content: "";
          display: block;
          margin: 0 0 0 -0.25rem;
          width: 0.125rem;
          height: 0.125rem;
          background: inherit;
        }
      }

      ~ #filters-navigation {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 120000;
      background: $white;
      border-bottom: 0.0625rem solid #ccc;

      .filters-toggle-bar {
        position: absolute;
        top: 1.5rem;
        left: 1.125rem;
        background: $black;

        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
        &:nth-child(3) {
          display: none;
        }
      }

      ~ #filters-navigation {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000;
        overflow-y: auto;
        padding-top: 3.5rem;
        background: $white;

        .image-labeling-filters-heading {
          position: fixed;
          top: 0;
          left: 3.5rem;
          right: 0;
          z-index: 120000;
          margin: 0;
          padding: calc(1.25rem - 0.0625rem) 1rem 1.25rem;
          font-size: 1rem;
          line-height: 1;
          background: $white;
          border-bottom: 0.0625rem solid #ccc;
        }
      }
    }

       @media (min-width: map.get(v.$breakpoints, "xl")) {
        display: none;

        &[aria-expanded] ~ #filters-navigation {
          display: block;
          position: static;
          z-index: unset;
          padding-top: 0;

          .image-labeling-filters-heading {
            position: static;
            z-index: unset;
            margin: 0.5rem 0 1rem;
            padding: 0;
            padding-left: 12px;
            border-bottom: none;
            background: none;
            font-size: 1rem;
            text-transform: uppercase;
            color: #666;
        }
      }
    }
  }

  // Mobile padding for main content
  .image-labeling-main {
    padding: 0 1rem;

    @media (min-width: map.get(v.$breakpoints, "xl")) {
      padding: 0;
    }
  }

 @media (min-width: map.get(v.$breakpoints, "xl")) {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 24px;

    .image-labeling-filters {
      align-self: stretch;
      border-right: 1px solid #e0e0e0;
      padding-right: 12px;
      padding-left: 12px;
      
      .filters-content {
        position: sticky;
        top: 16px;
        max-height: calc(100vh - 32px);
        overflow-y: auto;
      }
    }

    .image-labeling-main {
      min-width: 0;
    }
  }
}

body.has-expanded-filters {
  overflow: hidden;

  @media (min-width: map.get(v.$breakpoints, "xl")) {
    overflow: visible;
  }
}